* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}


nav {
    background: #1b1b1b;
    padding: 10px 0px;
    width: 100%;
    position: fixed;
    z-index: 12;
}

nav .menu {
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}


.menu .logo a {
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: 600px;

}

.menu ul {
    display: inline-flex;

}

.menu ul li {
    list-style: none;
    margin-left: 7px;

}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500px;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.menu ul li a:hover {
    background-color: #fff;
    color: #000;

}

.img {
    background: url(./img/simple-website-bg-img.jpg) no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}


.img::before {

    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
}

.center {
    position: absolute;
    top: 52%;
    left: 50%;
    padding: 0px 20px;
    text-align: center;
    width: 100%;
    transform: translate(-50%, -50%)
   
}

.center .title {
    color: #fff;
    font-size: 55px;
    font-weight: 500px;
}

.center .sub_title {
    color: #fff;
    font-size: 52px;
    font-weight: 600px;
}

.center .btn {
    margin-top: 20px;

}

.center .btn button {
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: none;
    margin: 0px 10px;
    border: 2px solid #fff;
    font-size: 20px;
    font-weight: 500px;
    padding: 0px 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;

}

.center .btn button:first-child{
    color: #fff;
    background: none;

}
.center .btn button:first-child:hover{
    color: #fff;
    background: #fff;   
}

